:root { 
  --black: #000000;
  --cod-gray: #080808;
  --indi-red: #ff4d4d;
  --licorice: #131313;
  --log-cabin: #232323;
  --sonic-silver: #737373;
  --white: #ffffff;
 
  --font-size-40px: 40px;
  --font-size-50px: 50px;
  --font-size-80px: 80px;
  --font-size-l: 11px;
  --font-size-m: 10px;
  --font-size-s: 8px;
  --font-size-xl: 12px;
  --font-size-xxl: 14px;
  --font-size-xxxl: 15px;
  --font-size-xxxxl: 17px;
 
  --font-family-anton: "Anton", Helvetica;
  --font-family-icons-pack-regular: "icons-pack-Regular", Helvetica;
  --font-family-work_sans: "Work Sans", Helvetica;
}
